.navbar {
    background-color: #28A745;
    color: white;
}

.derecha{
    float: right;
}



.card-tittle {

    font-family: 'Roboto', sans-serif;
}


.logo_navbar {

    height: 60px;
}





.parrafo1 {
    color: #28A745;
}

.formulario {
    background-color: #28A745;
    color: white;
}

.footer-imagen {
    width: 300px;
}
